#
#   IGNORE
#

# IGNORE -> NODE
node_modules/

# IGNORE -> BUILD
*.js
*.o
dist/
python/mathsys.egg-info
python/mathsys/mathsys.egg-info

# IGNORE -> PYCACHE
python/mathsys/__pycache__
python/mathsys/main/__pycache__
python/mathsys/syntax/__pycache__
python/testing/__pycache__